@model CustomerViewModel
@{
    ViewData["Title"] = "Meeting Minutes";
}

<div>
    <div class="form-check form-check-inline">
        <input type="radio" name="corporate" value="Corporate" checked />
        <label>Corporate</label>
    </div>
    <div class="form-check form-check-inline">
        <input type="radio" name="individual" value="Individual" />
        <label>Individual</label>
    </div>
</div>
<br />
<hr/>

